:root {
  --title-color: #0b0223;
  --btn-color: #ff42a5;
}
/* shared styles  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  width: 90%;
  max-width: 1920px;
  margin: 4.5rem auto;
}
.image {
  max-width: 100%;
  object-fit: cover;
}
.btn {
  background-color: var(--btn-color);
  color: #fff;
  padding: 1em 1.5em;
  margin-top: 0.5em;
  border-radius: 48px;
  border: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}
.pink-color {
  color: var(--btn-color);
}

/* =================
   navbar styles 
=================== */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2em 0em;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  width: 50%;
}
.logo-container h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-color);
}

.nav-menus {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
.nav-list-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
}
.nav-btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  color: #3c354f;
  border: none;
  padding: 0.6em 1em;
  cursor: pointer;
}
.fa-youtube {
  color: #f61c0d;
}
.fa-brands {
  margin-left: 0.5em;
}

/*====================
 banner styles       
 ====================*/
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 100vh;
}
.banner-content {
  width: 50%;
}
.banner-first-title {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-second-title {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-second-title i {
  font-size: 0.2em;
}

.banner-content p {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  text-transform: lowercase;
  padding: 0.8em 0em;
}
.banner-btn {
  border-radius: 48px;
  background: #4ec5f7;
}
.banner-img {
  width: 50%;
  padding: 1.5em 1.5em;
}

/*======================
 games section styles  
 ======================*/

.games-section {
  text-align: center;
  margin-top: 4rem;
}
.games-section-title {
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: 700;
}
.games-section-desc {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0.5em;
}
.games-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 0.8rem;
}
.card {
  position: relative;
  width: 22.5%;
}
.card-img {
  max-width: 100%;
  transition: all ease-in 0.3s;
}
.card:hover .card-img {
  filter: brightness(0.3);
  border: 4px solid #ff42a5;
  border-radius: 20px;
}
.card:hover .watch-now {
  color: #fff;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s;
  color: #fff;
}
.card:hover .overlay {
  display: flex;
  opacity: 1;
}

.fa-play {
  font-size: 2rem;
  padding-left: 0.2em;
}

.watch-now {
  font-size: 1rem;
  padding-left: 0.5em;
  color: #fff;
}

.card p {
  color: #534c64;
  font-size: 1rem;
  text-align: left;
}

/*======================
   play section styles
   ====================== */
.play-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  gap: 1rem;
}
.play-container h2{
  font-size: 2.5rem;
}
.play-container p{
  font-size: 1rem;
  padding-top: 1em;
  color: #534C64;
  font-weight: 400;
  width: 50%;
}
.play-content {
  padding: .5em 1em;
}
.play-img {
  position: relative;
  padding: .5em 1em;
}
 
.small-img {
  width: 40%;
  position: absolute;
  left: -23%;
  bottom: -15%;
   
}

/*================== Media queries========================  */

/* for small devices  */
@media screen and (max-width: 576px) {
  .nav-container,
  .nav-menus,
  .games-container, .play-container {
    flex-direction: column;
  }
  .nav-menus {
    margin-top: 1em;
  }
  .nav-list-item {
    padding-bottom: 1em;
  }
  .banner-container {
    flex-direction: column-reverse;
    height: auto;
  }
  .banner-content {
    padding: 0.5em 0.5em 0em 2.5em;
  }

  .banner-first-title {
    font-size: 1rem;
  }
  .banner-second-title {
    font-size: 2rem;
  }
  .games-section-title {
    font-size: 2rem;
  }
  .card {
    width: 100%;
  }
  .fa-play {
    margin-left: 6rem;
  }
  .card p {
    width: 80%;
    text-align: justify;
    padding: 0.3em 1.8em;
  }
  .play-container{
    text-align: center;
  }
  .play-container p{
    width: 100%;
  }
  .play-img{
    max-width: 60%;
  }
}

/* for tablet or medium devices */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .nav-menus {
    gap: 1rem;
  }
  .play-img{
    max-width: 60%;
  }
}
